:host {
    .info-container[light-bg]{
        background: #f9f9f9;
    }

    h3 {
        margin-top: 0 !important;
        color: rgb(53, 114, 143) !important;
    }

    .info-container {
        background: #96adc2;
        /*display: flex;*/
        justify-content: center;

        vi-grid {
            z-index: 1;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 24px;
            justify-content: center;
            padding: 50px 0;

            .column-text,
            .column-img {
                margin-bottom: 15px;
                padding: 0 15px;
                max-width: 540px;
                width: 100%;

                .video-wrapper {
                    position:  relative;
                    height: 0;
                    padding-bottom: 56.25%;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                .text-wrapper {
                    padding-bottom: 60px; 

                    TopLine {
                        display: flex;
                        color: #0c4c86;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 700;
                        letter-spacing: 1.4px;
                        text-transform: uppercase;
                        margin-bottom: 16px;
                    }

                    Heading {
                        display: flex;
                        margin-bottom: 24px;
                        font-size: 20px;
                        line-height: 1.1;
                        font-weight: 600;
                    }

                    Heading[light-text] {
                        color: #f7f8fa;
                    }

                    Description {
                        font-size: 13px;
                        line-height: 24px;
                        color: #fff;

                        
                    }
                    
                    Description[dark-text]{
                        color: #010606;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    } 
}

