:host .info-container[light-bg] {
  background: #f9f9f9; }

:host h3 {
  margin-top: 0 !important;
  color: #35728f !important; }

:host .info-container {
  background: #96adc2;
  /*display: flex;*/
  justify-content: center; }
  :host .info-container vi-grid {
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    justify-content: center;
    padding: 50px 0; }
    :host .info-container vi-grid .column-text,
    :host .info-container vi-grid .column-img {
      margin-bottom: 15px;
      padding: 0 15px;
      max-width: 540px;
      width: 100%; }
      :host .info-container vi-grid .column-text .video-wrapper,
      :host .info-container vi-grid .column-img .video-wrapper {
        position: relative;
        height: 0;
        padding-bottom: 56.25%; }
        :host .info-container vi-grid .column-text .video-wrapper iframe,
        :host .info-container vi-grid .column-img .video-wrapper iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      :host .info-container vi-grid .column-text .text-wrapper,
      :host .info-container vi-grid .column-img .text-wrapper {
        padding-bottom: 60px; }
        :host .info-container vi-grid .column-text .text-wrapper TopLine,
        :host .info-container vi-grid .column-img .text-wrapper TopLine {
          display: flex;
          color: #0c4c86;
          font-size: 16px;
          line-height: 16px;
          font-weight: 700;
          letter-spacing: 1.4px;
          text-transform: uppercase;
          margin-bottom: 16px; }
        :host .info-container vi-grid .column-text .text-wrapper Heading,
        :host .info-container vi-grid .column-img .text-wrapper Heading {
          display: flex;
          margin-bottom: 24px;
          font-size: 20px;
          line-height: 1.1;
          font-weight: 600; }
        :host .info-container vi-grid .column-text .text-wrapper Heading[light-text],
        :host .info-container vi-grid .column-img .text-wrapper Heading[light-text] {
          color: #f7f8fa; }
        :host .info-container vi-grid .column-text .text-wrapper Description,
        :host .info-container vi-grid .column-img .text-wrapper Description {
          font-size: 13px;
          line-height: 24px;
          color: #fff; }
        :host .info-container vi-grid .column-text .text-wrapper Description[dark-text],
        :host .info-container vi-grid .column-img .text-wrapper Description[dark-text] {
          color: #010606; }
      :host .info-container vi-grid .column-text img,
      :host .info-container vi-grid .column-img img {
        width: 100%; }
