:host {
  display: flex;
  font-size: 16px;
  letter-spacing: 0.2px; }
  :host vi-grid {
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center; }
    :host vi-grid h1 {
      font-size: 20px;
      color: #00a8e9;
      margin-bottom: 64px;
      width: 100%;
      display: flex;
      justify-content: center; }
    :host vi-grid .reference-card {
      width: 180px;
      align-content: center;
      display: grid :host vi-grid .reference-card; }
      :host vi-grid .reference-card :hover {
        transform: scale(1.02);
        transition: all 0.2s ease-in-out; }
      :host vi-grid .reference-card img {
        width: 100%;
        margin-bottom: 10px; }
